.forum-page .forum-name,
.forum-topic-page .topic-name {
	margin: 0 0 25px;
	border-bottom: 1px solid $border_color;
  padding: 0 10px 10px;
  
	h1 {
		font-size: $font_size--title;
		font-weight: normal;
	}
}

.forum-page {

	.forum-info {
		margin: 0 0 30px;
	}
}