input,
textarea,
select {
	font-size: $font_size--xs;
	font-family: $font;
	color: $font_color--alt;
}

input {
	&:-webkit-autofill {
		-webkit-box-shadow: inset 0 0 0 1000px $white;
	}
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	border-radius: $border_radius;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	height: 36px;
	border: $border_size solid $border_color;
	padding: 8px;
	vertical-align: middle;
}

textarea {
	min-height: 150px;
}

select {
	min-width: 50px;
	height: 32px;
	padding: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {

	&:focus {
		border-color: $border_color--alt;
		color: $font_color;
	}
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	
	+* {
		vertical-align: middle;
	}
}

input[type="button"],
input[type="submit"] {
	cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
}

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner  {
	margin: 0;
	border: 0;
	padding: 0;
}