.page,
.page-title,
.page-body {
  
	&:after {
    content: "";
    display: block;
    clear: both;
	}
}

.page {
	min-height: 200px;
  text-align: center;
}

.page-title {
	min-height: 50px;
	margin: 0 0 25px;
	border-bottom: $border_size solid $border_color;
  padding: 6px 10px;
  
	h1 {
		font-size: $font_size--title;;
		font-weight: normal;
  }
}

@media all and(min-width: 1001px) {
	.page {
		text-align: left;
  }
  
	.page-title a + h1 {
		float: left;
	}
}