.breadcrumb {
    margin: 0 0 50px;
    /*background-color: $color_black_haze_approx;*/
    padding: 5px 0;

    ul {
        font-size: 0;
    }

    li {
        display: inline-block;

        * {
            display: inline-block;
            margin: 0 5px;
            font-size: $font_size--title-s;
            line-height: 32px;
        }

        .current-item,
        .delimiter {
            color: $color_main;
        }
    }

    strong {
        font-weight: normal;
    }

    a:hover {
        color: $color_main;
    }
}

@media all and(min-width: 1001px) {

    .breadcrumb {
        margin: 0 0 $space--s;
    }
}

@media all and(max-width: 769px) {

    .breadcrumb {

        li {

            * {
                font-size: $font_size--xs;
            }
        }
    }
}