.breadcrumb {
    margin: 0 0 50px;
    /*background-color: $color_black_haze_approx;*/
    padding: 5px 10px;

    ul {
        font-size: 0;
    }

    li {
        display: inline-block;

        * {
            display: inline-block;
            margin: 0 5px;
            font-size: $font_size--xxl;
            line-height: 32px;
        }

        .delimiter {
            color: $color_main;
        }
    }

    strong {
        font-weight: normal;
    }

    a:hover {
        color: $color_main;
    }
}

@media all and(min-width: 1001px) {

	.breadcrumb {
		margin: 0 0 $space;
	}
}