.customer-entered-price {
	margin: 0 0 20px;
  overflow: hidden;
  
	.price-input {

		label {
			display: block;
			margin: 0 0 5px;
			font-weight: bold;
			color: $font_color;
    }
    
		input {
			width: 170px;
			text-align: center;
		}
  }
  
	.price-range {
		margin: 5px 0 0;
		color: $font_color--alt;
	}
}