.enter-password-form {
	display: inline-block;
  overflow: hidden;
  
	input[type="password"] {
		float: left;
		width: 200px;
		height: 40px;
		margin: 0 -1px 0 0;
  }
  
	input[type="submit"] {
		float: left;
		width: auto;
		min-width: 86px;
		height: 40px;
		border: none;
		background-color: $color_main;
		padding: 0 15px;
		color: $white;
    text-transform: uppercase;
    
		&:hover {
			background-color: $color_main--active;
		}
	}
}

@media all and(min-width: 481px) {

	.enter-password-form input[type="password"] {
		width: 260px;
	}
}