.accept-privacy-policy {
	margin: 0 0 20px;
  text-align: center;
  
	> * {
		display: inline-block;
		line-height: 32px;
  }
  
	span {
		color: $color_main;
		cursor: pointer;
  }
  
	a {
		color: $color_main;
		cursor: pointer;
	}
}