.address-edit-page {

	.page-title {
		margin: 0 0 -1px;
  }
  
	.message-error {
		margin: 20px 0;
  }
  
	.edit-address {
		margin: 0 0 30px;
		border-top: 1px solid $color_mercury_approx;
		background-color: $color_alabaster_approx;
		padding: 30px 15px;
	}
}