.enter-address {

	.message-error {
		margin: 20px 0;
	}
	
	.edit-address {
		background-color: $color_alabaster_approx;
		border-top: 1px solid $color_mercury_approx;
		margin: 0 0 30px;
		padding: 30px 15px;
	}
}